body{
text-align: auto;
}
#img1{
    height: 500px;
    width: 1000px;
}
h5{
    font: bold;
}
#menu{
    position: sticky;
}
li{
color: rgb(255, 255, 255);
display: inline;
padding-top: 5px;
padding-left: 30px;
padding-right: 9px;
padding-bottom: 5px;
text-align: left;
float: left;
}
.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    }
    .movie_head i{
        float: right;
    }
    .achivment_text span{
        color: orange;
    }
    #down{
        float: right;
    }
    .new{
        margin-bottom: 24px;
    }
    #contact iframe{
        width: 100%;
    }
    #mod{
        font-size: 19px;
    }
    #mod1{
        font-size: 19px;
    }